

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel.org</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hotel.org.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" asp-append-version="true">

        
</head>
<body>

    <style>
        .navbar-nav .nav-link {
            border: 1px solid #07689F;
            border-radius: 5px;
            color: #07689F;
            padding: 8px 20px;
            margin-left:10px;
        }
    </style>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand d-flex flex-column align-items-center" style="margin-left:20px;">
                <img src="~/Logos/Logo.png" alt="Logo" width="70" height="70" class="d-inline-block align-top img-fluid ml-4">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                  @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ReservationsPage" asp-controller="Hotel">Reservations</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AllHotelsPage" asp-controller="Hotel">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ReviewPage" asp-controller="Hotel">Add Review</a>
                    </li>
                  
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AdminPage" asp-controller="AdminDashBoard">Admin DashBoard</a>
                        </li>
                 
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name  <i class="bi bi-person"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-action="ProfilePage" asp-controller="Account">Account</a></li>
                                <li><a class="dropdown-item" href="#">Support</a></li>
                                <li>
                                    <form asp-action="LogOutUser" method="post" asp-controller="Account">
                                        <button type="submit" class="dropdown-item">Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="LogInPage" asp-controller="Account" style="color:#07689F; font-weight:bold;">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="RegisterPage" asp-controller="Account" style="color:#07689F; font-weight:bold;">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>











    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
</body>
</html>
