@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <div class="flex justify-center items-center h-screen bg-gray-100">
        <div class="bg-white rounded-lg shadow-md p-8 max-w-md w-full">
            <h2 class="text-2xl font-bold mb-4 text-center">Verify Email</h2>

            <form method="post" asp-action="VerifyCode" asp-controller="Account" class="max-w-md mx-auto">
                @Html.AntiForgeryToken()

                <div class="mb-4" style="display:none;">
                    <label for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input id="Email" name="email" type="text" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" value="@ViewBag.Email" readonly="readonly" />
                </div>

                <div class="mb-4">
                    <label for="code" class="block text-sm font-medium text-gray-700">Verification Code</label>
                    <input id="code" name="code" type="text" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 p-1" />
                </div>

                <button type="submit" class="btn btn-primary mt-3 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Verify</button>
            </form>
        </div>
    </div>


</body>
</html>
