@using static Hotel.org.Models.Hotels
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .full-width-img {
        position: relative;
        width: 100%;
        height: auto; /* Change height to auto for responsiveness */
        overflow: hidden;
    }

    .overlay-text {
        position: absolute;
        top: 20%;
        left: 5%;
        color: #043E5F;
        font-size: 2vw; /* Adjust font size for responsiveness */
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        width: 90%; /* Set width to 90% for responsiveness */
    }
</style>

<div class="container-fluid mt-5 p-0">
    <div class="row">
        <div class="col-12 p-0">
            <div class="full-width-img">
                <img src="~/Images/Image.png" class="img-fluid rounded-3" alt="Your Image">
                <div class="overlay-text">
                    <h1>Discover Your Trips Worldwide</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-flex align-items-center p-3 p-md-5 shadow-md" style="transform: translateY(-50%); z-index: 1000;">
        <input class="form-control rounded-md bg-background px-3 py-2 text-sm placeholder-muted flex-grow-1" placeholder="Where Are You Going To?" />
        <input type="date" class="form-control rounded-md bg-background px-3 py-2 text-sm placeholder-muted mx-2" placeholder="Check In Date" />
        <input type="date" class="form-control rounded-md bg-background px-3 py-2 text-sm placeholder-muted mr-2" placeholder="Check Out Date" />
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAdults" data-bs-toggle="dropdown" aria-expanded="false">
                Adults
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownAdults">
                @foreach (var value in Enum.GetValues(typeof(NumberOfAdultsEnum)))
                {
                    <li><button class="dropdown-item" type="button">@value</button></li>
                }
            </ul>
        </div>
        <div class="dropdown ml-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownChildren" data-bs-toggle="dropdown" aria-expanded="false">
                Children
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownChildren">
                @foreach (var value in Enum.GetValues(typeof(NumberOfChildrenEnum)))
                {
                    <li><button class="dropdown-item" type="button">@value</button></li>
                }
            </ul>
        </div>

        <button class="btn btn-primary ml-2">Search</button>
    </div>
</div>
