@using Hotel.org.Models
@model List<Favourites>



<!-- Main Content -->
<main class="container mx-auto px-4 py-8 mt-5">
    <!-- Hotel List -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
        @foreach (var item in Model)
        {
            <!-- Example hotel card -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img src="@item.hotel.RoomImage" alt="Hotel Image" class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-2">@item.hotel.Name</h2>
                    <p class="text-gray-600 mb-4">Location: @item.hotel.City</p>
                    <a asp-action="CheckOutPage" asp-controller="Hotel" asp-route-HotelId="@item.hotel.Id">
                        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                            Book now
                        </button>
                    </a>
                </div>
            </div>
        }
    </div>
</main>


